div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    max-width: 80rem;
    min-width: 20rem;
    margin: 0 auto;
    padding: 0 2rem;
}

span{
    text-align: center;
    font-size: 1.5rem;
    color: #000;
}

a{
    font-size: 1.5rem;
    color: #fff;
    background-color: #3E54AC;
    padding: 0.7rem 1rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
}

a:hover{
    background-color: #374372;
}