header{
    background-color: #fff;
    padding: 0;
    border-bottom: 2px solid #3E54AC;
    transition: .3s;
}

.header-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transition: .3s;
    height: 3.85rem;
}

a.header-logo{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1em;
    transition: .3s;
    background-color: #fff;
    color: #000;
}