header{
    background-color: #fff;
    padding: 0;
    border-bottom: 2px solid #3E54AC;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: 700;
    padding: 1em;
    transition: .4s;
}

a:hover{
    color: #fff;
    background-color: #3E54AC;
}