div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-width: 80rem;
    min-width: 20rem;
    margin: 0 auto;
    padding: 0 2rem;
    flex-direction: column;
}

span{
    text-align: center;
    font-size: 4rem;
    font-family: 'Dongle', sans-serif;
    /* font-weight: 700; */
    /* color: #000; */
    color: #3E54AC;
}